################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fundamentos-de-informatica/FileContentIndex
/.vs/TPOGrupal/FileContentIndex
/.vs/TPOGrupal/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/__pycache__/funciones.cpython-313.pyc
